@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    font-family: 'Lato', sans-serif;

    --colour-white: #FFFFFF;
    --colour-green-main: #67E06C;
    --colour-green-active: #53FF5A;
    --colour-green-drop-shadow: rgba(38, 116, 41, 0.5);
    --colour-green-inner-shadow: rgba(38, 116, 41, 0.3);
    --colour-red: #C52A2A;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--colour-white);
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    top: 2rem;
    left: 2rem;
    background-color: var(--colour-green-main);
    box-shadow: 0px 2px 6px -2px rgba(38, 116, 41, 0.5);
    padding: 1.5rem 2rem 1.5rem 2rem;
    border: none;
    border-radius: 16px;
    transform: translateX(-100%);
    opacity: 0;
}

.popup p {
    color: var(--colour-white);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: 400;
}

.timeout-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 16px);
    height: 1rem;
    background-color: transparent;
    border: 0.25rem solid var(--colour-green-active);
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 16px;
}

.github-logo {
    position: fixed;
    top: 2rem;
    right: 2rem;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 16px -4px #67E06C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo img {
    width: 2rem;
    height: auto;
}

main {
    width: 32vw;
    padding: 2rem 3rem 3rem 3rem;
    background-color: transparent;
    box-shadow: 0px 8px 48px -12px #67E06C;
    backdrop-filter: blur(4px);
    border-radius: 32px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    justify-items: center;
    gap: 1rem;
}

.input-group {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.top-placeholder {
    color: #53FF5A;
    margin-left: 0.75rem;
    opacity: 0;
}

.input-wrapper {
    width: 100%;
    position: relative;
}

.input-wrapper::before {
    content: '';
    background-size: 100% 100%;
    position: absolute;
    display: block;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;

    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.input-wrapper-1::before {
    background-image: url('../svgs/email.svg');
}

.input-wrapper-2::before {
    background-image: url('../svgs/user.svg');
}

.input-wrapper-3::before {
    background-image: url('../svgs/2users.svg');
}

.input-wrapper-4::before {
    background-image: url('../svgs/home.svg');
}

.input-wrapper-5::before {
    background-image: url('../svgs/3users.svg');
}

.input-wrapper-6::before {
    background-image: url('../svgs/graph.svg');
}

.input-wrapper-7::before {
    background-image: url('../svgs/eye.svg');
}

.input-wrapper-8::before {
    background-image: url('../svgs/creditcard.svg');
}

.input-wrapper-9::before {
    background-image: url('../svgs/wallet.svg');
}

.input-wrapper-10::before {
    background-image: url('../svgs/globe.svg');
}

.full-fr {
    grid-column: 1 / 3;
}

input {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    padding: 0.75rem 2rem 0.75rem 3rem;
    color: rgba(0, 0, 0, 0.75);

    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(103, 224, 108, 0.5);
    box-shadow: 0px 2px 6px -2px rgba(38, 116, 41, 0.5), inset 0px 0px 16px -4px rgba(38, 116, 41, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 12px;

    display: flex;
    align-items: center;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input:focus {
    outline: none;
    border: 2px solid #53FF5A;
    box-shadow: 0px 4px 12px -2px rgba(38, 116, 41, 0.5), inset 0px 0px 16px -4px rgba(38, 116, 41, 0.3);
}

.incorrect-data {
    margin: 0.5rem 0 0 0.75rem;
    opacity: 0;
}

p {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--colour-red);
    letter-spacing: 0;
    font-weight: 300;
}

button {
    width: fit-content;
    margin-top: 2rem;
    grid-column: 1 / 3;
    color: var(--colour-white);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    background: linear-gradient(180deg, rgba(0, 255, 11, 0.7) 0%, #67E06C 100%);
    box-shadow: 0px 2px 6px rgba(38, 116, 41, 0.4);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

button:focus {
    outline: 2px solid var(--colour-green-active);
    box-shadow: 0px 2px 12px rgba(38, 116, 41, 0.4);
}

input, button, a {
    cursor: pointer;
}